body{
    margin:0;
    padding:0;
}

/* Section 1 */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagonal-bg{
  position: absolute;
  top:0;
  width: 100%;
  height: 18.75rem;
  transform: scaleY(1.7) skewY(-9deg);
  background-color: rgb(38, 40, 71);
  z-index: -1;
}


.image-container{
  margin-top: 40px;
  position:relative;

  /* image positioning */
  background-image: url("imgs/jellyfish.jpg");
  background-size: cover;
  background-position: center;

  width: 300px;
  height: 550px;
  margin: 40px;
  padding: 20px;

  /* position name */
  display: flex;
  flex-direction: column;
  justify-content: end;


  /* z-index: 2;
  float: left;
  margin-right: -50px; */
}

.image-container h1{
  color: azure;
  position: absolute;
  text-align: center;
  text-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); Optional: adds contrast against the image */
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 1.5rem;

}

.card{
  /* margin-top:40px;
  text-align: left;
  padding: 20px 60px;
  z-index: 1;
  padding-top: 50px;
  overflow: auto; */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
}

.description{
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 20px;

}

.header-links{
  display: flex;
  gap: 1.25rem;
}

/* This is the main section */

h2{
  padding-top: 20px;
  text-align: center;
}

.project-container{
  display:grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}


.project{
  display:flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  align-items: center;
  box-shadow: 5px 5px 5px lightgray  ;

}

.project img{
  width: 100%;
}

.title{
  display: flex;
  align-items: center;
}

.project p{
  width: 220px;
}

.title h4{
  margin-right: 100px;
}

.project a{
  margin: 5px;
}

footer {
  border: 1px solid black;
  margin-top: 40px;
  background-color: rgb(58, 69, 85);
  color: antiquewhite;
  width: 100%;
}

.under-contact, .first, .second{
  width: 250px;
  text-align: left;
  font-size: 20px;
}

.closing-info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; 
  align-items: center; 
  text-align: left; /* Center the text inside each element */
}

.footer-links{
  display: flex;
  margin-bottom: 60px;
  gap: 30px;
  color: white;

}


footer img{
  margin-top: 0px;
  padding:0px;
  width: 100%;
}


@media (min-width: 900px){
  /* Hide the links */
  /* wrap text around the image */

  .diagonal-bg{
    width: 100%;
    height: 200px;
    transform: scaleY(3.5) skewY(-5deg);
    background-color: rgb(38, 40, 71);
  }

  header{
    display:block;
  }

  .image-container {
    float: left;
    width: 400px;
    min-height: 200px;
    margin-bottom: 0px;
    /* margin-left: 0; */
    margin-top: -100px;
    
  }

  .card {
    display: block;
    margin: 200px auto 50px auto;
    background-color: white;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    max-width: 750px;
  }

  .header-links{
    display: none;
  }

  .description {
    margin-top: 30px; 
    font-size: 25px;
  }
  .image-container h1 {
    font-size: 4.7rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(75%, -20%);
    color:rgb(96, 11, 127);
    white-space: nowrap;
  }

    .project-container{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }




}


