body{
    margin:0;
    padding:0;
}


#section1, #section2, #section3{
    margin: 20px;
    background-color: purple;
    padding: 20px;

    /* kind of controls the height */
    font-size: 100px; 

    /* do we need to make the div itself diagonal and then place it in that div? */

}


@media (max-width: 1824px) {
    #section1 {
      padding: 10px;
      margin: 10px;
    }

    #section2{
        padding: 10px;
        margin: 10px;
    }

    #section3{
        padding: 10px;
        margin: 10px;
    }
  }


  #diagonal-box{
    width: 50px;
    height: 50px;
    background-color: coral;
    transform: skewY(-11deg);
  }